<!DOCTYPE html>
<html>
<head>
    <title>NS.UI.Forms demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="./bs-datepicker-20130806/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="../bootstrap-2.3.1/css/bootstrap.min.css" />
    <style type="text/css">
        .control-label > b, .form-inline th b {color: red; font-weight: bold;}
        .controls > .help-block {color: #777; font-family: serif; font-style: italic;}
        table.form-inline {border-collapse: collapse; border-spacing: 0; margin: 1em;}
        .form-inline th, .form-inline td {line-height: 20px; padding: 2px 8px; vertical-align: top;}
        .form-inline .help-inline {display: block;}
    </style>
    <script type="text/javascript" src="../jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../underscore-1.4.4/underscore.min.js"></script>
    <script type="text/javascript" src="../backbone-1.0/backbone.min.js"></script>
    <script type="text/javascript" src="../backbone.layoutmanager-0.8.4.js"></script>
    <script type="text/javascript" src="./bs-datepicker-20130806/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="./forms.js"></script>
    <script type="text/javascript">
    $(function() {
        // 0) Use a nice datepicker instead of raw <input type="date">
        NS.UI.Form.editors.Date.templateSrc.stacked =
            '<div class="control-group">' +
            '    <label class="control-label" for="<%- data.id %>"><% if (data.required) { %><b>*</b><% } %> <%- data.label %></label>' +
            '    <div class="controls">' +
            '        <div class="input-append date" data-date="">' +
            '            <input type="text" id="<%- data.id %>" name="<%- data.name %>" />' +
            '            <span class="add-on"><i class="icon-calendar"></i></span>' +
            '        </div>' +
            '        <div class="help-inline"></div>' +
            '        <div class="help-block"><% if (data.helpText) { %><%- data.helpText %><% } %></div>' +
            '    </div>' +
            '</div>';
        NS.UI.Form.editors.Date.addDatePicker = function($elt, value, format) {
            var $dp = $elt.find('.date');
            $dp.datepicker({format: format})
                .on('changeDate', function(ev) {
                    if (ev.viewMode === 'days') {
                        $(this).datepicker('hide').find('input').trigger('input');
                    }
                });
            if (value) {
                $dp.datepicker('setValue', value);
            }
        };

        // 1) Declare your model classes
        var Address = Backbone.Model.extend({
                // Code whatever behaviour you need at instance level
            }, {
                // Declare schema and verbose name at model level
                schema: {
                    street: {title: 'Street name', type: 'Text'},
                    housenumber: {title: 'House number', type: 'Text'},
                    city: {title: 'City', type: 'Text'}
                },
                verboseName: 'Address'
            }),
            Person = Backbone.Model.extend({}, {
                schema: {
                    id: {title: 'ID', type: 'Number', editable: false},
                    title: {title: 'Title', type: 'Select', required: true, options: ['Miss', 'Mrs', 'Mr', 'Ms']},
                    fName: {title: 'First name', type: 'Text'},
                    lName: {title: 'Last name', type: 'Text', required: true},
                    dob: {title: 'Date of birth', type: 'Date'},
                    address: {title: 'Address', type: 'NestedModel', model: Address, required: true},
                    job: {title: 'Job', type: 'Text'},
                    sports: {title: 'Sports', type: 'Text'},
                    comments: {title: 'Any comment ?', type: 'Text'}
                },
                verboseName: 'Person'
            }),

            // 2) Instantiate that model or use an existing instance
            instance = new Person(),

            // 3) Create a form for that instance
            form = new NS.UI.Form({
                initialData: instance, 
                fields: [
                    {title: 'Identification', fields: ['title', 'fName', 'lName', 'dob', 'address']}, 
                    {title: 'Activities', fields: ['job', 'sports']}, 
                    'comments'
                ],
                dateFormat: 'dd/mm/yyyy'    //  set display date format, avalaible values : mm, d, dd, yy, yyyy
            });

            
        // 3bis) You will usually want to code what to do with validated data
        form.on('submit:valid', function(instance) {
            if (console) {
                console.log(instance);
            } else {
                alert('form is valid');
            }
            // You may want to do something like:
            // instance.save();
        });

        // 4) Render the form
        form.render().done(function(view) {
            $('body').append(view.el);
        });
    });
    </script>
</head>
<body>
</body>
</html>